# **dependencies**

INSERT INTO table_name (col1, col2, ...) VALUES (value1, value2, ...)

**INSERT INTO table_name VALUES (value1, value2, ...)**

In [41]:
import pandas as pd
import random as r
from random import randint as rr

In [2]:
# INSERT INTO table_name (cols) VALUES (vals)

def create_inserts(df, table_name, cols):
    path = 'SQL\\'+ table_name + ".txt"
    col_names = ''
    for n in cols[:-1]:
        col_names += n + ', '
    col_names += cols[-1]
    
    f = open(path, 'w')
    
    for row in df.itertuples():
        s = f'INSERT INTO session.{table_name} ({col_names}) VALUES '
        values = [getattr(row, col) for col in cols]
        value_names = ''
        for n in values[:-1]:
            value_names += str(n) + ', '
        value_names += str(values[-1])
        
        s += f'({value_names});\n'
        
        f.write(s)
        
    f.close()

In [3]:
def embrace(arr):
    arr = ["'" + word + "'" for word in arr]
    return arr

In [102]:
def tostr(a):
    return "'" + str(a) + "'"

# ~student~

- surname
- name
- patronymic
- student_id (PK, automatically generated)

In [6]:
male_name = embrace(['Александр',
             "Алексей",
              "Олег",
             "Сергей",
             "Андрей",
             "Дмитрий",
             "Михаил",
             "Павел",
             "Илья",
             "Константин",
             "Виктор",
              "Даниил",
             "Кирилл",
             "Артём",
             "Иван",
             "Максим",
             "Григорий",
             "Егор"])
# male_name = ["'" + n + "'" for n in male_name]

In [7]:
male_surname = embrace(["Иванов",
                 "Смирнов",
                 "Осипов",
                 "Новиков",
                 "Алексеев",
                 "Лебедев",
                 "Орлов",
                 "Захаров",
                 "Виноградов",
                 "Филиппов",
                 "Сидоров",
                 "Овчинников",
                 "Леонов",
                 "Котов",
                 "Малышев"                 
    
])
# male_surname = ["'" + n + "'" for n in male_surname]

In [8]:
male_patronymic = embrace(["Игоревич",
                   "Ильич",
                   "Сергеевич",
                   "Юрьевич",
                   "Викторович",
                   "Борисович",
                   "Андреевич",
                   "Максимович",
                   "Матвеевич",
                   "Олегович",
                   "Эдуардович"
    
])
# male_patronymic = ["'" + n + "'" for n in male_patronymic]

In [9]:
female_name = embrace(["Елена",
                "Анна",
                "Наталья",
                "Ангелина",
                "Ирина",
                "Екатерина",
                "Елизавета",
                "Полина",
                "Дарья",
                "Ксения",
                "Софья",
                "Александра"
                
               
])
# female_name = ["'" + n + "'" for n in female_name]

In [10]:
female_surname = embrace(["Смородина",
                   "Смирнова",
                   "Авдеева",
                   "Волкова",
                   "Миронова",
                   "Румянцева",
                   "Плотникова",
                   "Соловьёва",
                   "Павлова",
                   "Жданова",
                   "Полякова",
                   "Гончарова"
    
])
# female_surname = ["'" + n + "'" for n in female_surname]

In [11]:
female_patronymic = embrace(["Игоревна",
                     "Эдуардовна",
                     "Валентиновна",
                     "Георгиевна",
                     "Павловна",
                     "Александровна",
                     "Алексеевна",
                     "Борисовна",
                     "Анатольевна",
                     "Владимировна",
                     "Витальевна",
                     "Максимовна",
                     "Олеговна"
    
])
# female_patronymic = ["'" + n + "'" for n in female_patronymic]

In [11]:
# surname, name, patronymic, student_id: student

# DONE

data = []
for i in range(100):
    gender = r.randint(0, 1)
    if gender == 1:
        surname = female_surname[r.randint(0, len(female_surname) - 1)]
        name = female_name[r.randint(0, len(female_name) - 1)]
        patronymic = female_patronymic[r.randint(0, len(female_patronymic) - 1)]
    else:
        surname = male_surname[r.randint(0, len(male_surname) - 1)]
        name = male_name[r.randint(0, len(male_name) - 1)]
        patronymic = male_patronymic[r.randint(0, len(male_patronymic) - 1)]
    data.append([surname, name, patronymic, i+1])
    
student = pd.DataFrame.from_records(data, columns=['surname', 'name', 'patronymic', 'student_id'])

In [12]:
student.sample(10)

         surname          name       patronymic  student_id
23     'Смирнов'        'Егор'      'Сергеевич'          24
59      'Леонов'  'Константин'        'Юрьевич'          60
48   'Соловьёва'   'Екатерина'     'Витальевна'          49
88    'Филиппов'  'Константин'     'Эдуардович'          89
9      'Волкова'       'Дарья'     'Алексеевна'          10
44     'Лебедев'     'Алексей'      'Борисович'          45
91      'Леонов'        'Олег'       'Игоревич'          92
63    'Полякова'        'Анна'    'Анатольевна'          64
34  'Плотникова'        'Анна'  'Александровна'          35
74       'Котов'      'Сергей'     'Максимович'          75

In [13]:
# DONE

create_inserts(student, 'student', ['surname', 'name', 'patronymic'])

# ~edu_track~


- name
- track_id (autogen.)

In [74]:
names = embrace(['Прикладная математика и информатика',
         'Механика и математическое моделирование',
         'Прикладные математика и физика',
         'Картография и геоинформатика',
         'Прикладная информатика',
         'Программная инженерия',
         'Фотоника и оптоинформатика'])

In [75]:
qual = [['"Бакалавр"', '03'], ['"Магистр"', '04'],
        ['"Специалист"', '05'], ['"Исследователь"', '06']]

In [76]:
data = []

for i in range(len(names)):
    tmp = [i+1, names[i]]
    j = r.randint(0, 3)
    s = '"' + str(r.randint(10, 57)) + '.'\
                + qual[j][1] + '.' + str(r.randint(10, 57)) + '"'
    tmp.append(s)
    tmp.append(qual[j][0])
    data.append(tmp)

In [77]:
edu_track = pd.DataFrame.from_records(data,
                                      columns=['track_id','name',
                                               'track_code', 'qualification'])

In [18]:
# DONE
create_inserts(edu_track, 'edu_track', ['name', 'track_code', 'qualification'])

# ~edu_program~


- track_id (FK)
- name
- program_id (autofill)

In [78]:
names = embrace(["Системное и прикладное программное обеспечение",
         "Компьютерные системы и технологии",
         "Теоретическая и экспериментальная физика",
         "Разработка программного обеспечения",
         "Фотоника и оптоинформатика",
         "Лазерные технологии",
         "Инфохимия",
         "Иностранные языки и информационные технологии",
         "Бизнес-информатика",
         "Экотехнологии и устойчивое развитие",
         "Мобильные и сетевые технологии",
         "Механика и математическое моделирование",
         "Математика и компьютерные науки",
         "Физика",
         "Дифференциальные уравнения, динамические системы и оптимальное управление",
         "Квантовые вычислительные системы",
         "Физика быстропротекающих процессов ",
         "Безопасность компьютерных систем"         
        ])

In [79]:
edu_program = pd.DataFrame.from_records(data=[(str(r.randint(1, edu_track.shape[0])), names[i], \
                                               i+1) for i in range(len(names))],\
                                               columns=['track_id', 'name', 'program_id'])

In [21]:
# DONE

create_inserts(edu_program, 'edu_program', ['track_id', 'name'])

# ~attestation~

In [38]:
data = []

In [47]:
# generate exam date
def exam_date():
    year = rr(2018, 2020)
    start_date = datetime.date(year, 6, 15)
    end_date   = datetime.date(year, 6, 30)
    num_days   = (end_date - start_date).days
    rand_days   = random.randint(1, num_days)
    random_date = start_date + datetime.timedelta(days=rand_days)
    return tostr(random_date)

In [53]:
for i in range(157):
    row = []
    row.append(rr(0, 103))
    row.append(exam_date())
    row.append(rr(1, 37))
    row.append(rr(1, 50))
    row.append(rr(1, 60))
    row.append(rr(0, 3))
    row.append(i+1)
    
    data.append(row)

In [45]:
import datetime
import random

In [56]:
attestation = pd.DataFrame.from_records(data, columns=['grade',
                                                     'attestation_date',
                                                     'teacher_id',
                                                     'edu_plan_subject_id',
                                                     'student_in_group_id',
                                                     'attempt_count',
                                                     'attestation_id'])

In [57]:
create_inserts(attestaion, 'attestation', ['grade',
                                                     'attestation_date',
                                                     'teacher_id',
                                                     'edu_plan_subject_id',
                                                     'student_in_group_id',
                                                     'attempt_count'])

# ~attestation_timetable~

In [68]:
data = []

In [69]:
for i in range(30):
    row = [rr(1, 20)]
    row.append(rr(1, 50))
    row.append(rr(1, 100))    
    row.append(exam_date())
    row.append(rr(1, 37))  
    row.append(i+1)
    row.append(rr(1, 8))
    
    data.append(row)

In [70]:
attestation_timetable = pd.DataFrame.from_records(data, columns=['group_id',
                                                                'edu_plan_subject_id',
                                                                'classroom_id',
                                                                'exam_date',
                                                                'teacher_id',
                                                                'attestation_timetable_id',
                                                                'semester'])

In [71]:
create_inserts(attestation_timetable, 'attestation_timetable', ['group_id',
                                                                'edu_plan_subject_id',
                                                                'classroom_id',
                                                                'exam_date',
                                                                'teacher_id',
#                                                                 'attestation_timetable_id',
                                                                'semester'])

# ~building~

In [32]:
addresses = embrace(['Гороховая улица, 35-37',
            'Литейный проспект, 57',
            'Лесной проспект, 20к5',
            '11-я линия Васильевского острова, 38',
            'Гатчинская улица, 8',
            'улица Оптиков, 35к2'])

In [33]:
data = [[i+1, addresses[i], tostr('Корпус '+str(i+1))] for i in range(6)]

In [34]:
building = pd.DataFrame.from_records(data, columns=['building_id', 'address', 'building_name'])

In [35]:
create_inserts(building, 'building', ['address', 'building_name'])

# ~classroom~

In [40]:
type = embrace(['Лекционная', 'Лаборатория', 'Практическая', 'Другое'])
data = [[str(i+1),
       str(r.randint(1, 100)),
       str(r.randint(1, 6)) + str(r.randint(1, 4)) + str(r.randint(10, 99)),
       str(r.randint(1, 6)),
       type[r.randint(0, 3)]] for i in range(100)]

In [41]:
classroom = pd.DataFrame.from_records(data, columns=['classroom_id', 'capacity',
                                                    'room', 'building_id',
                                                    'classroom_type'])

In [42]:
create_inserts(classroom, 'classroom', ['capacity',
                                                    'room', 'building_id',
                                                    'classroom_type'])

# ~edu_plan~

edu_plan

In [82]:
learning_type = embrace(["Очный", "Дистанционный", "Смешанный"])

edu_plan = pd.DataFrame.from_records([[i+1,
                                      (r.randint(1, edu_program.shape[0])),
                                      learning_type[r.randint(0, 2)],
                                      r.randint(2016, 2020)]
                                      for i in range(20)]
    , columns=['plan_id', 'program_id', 'learning_type', 'start_year'])

In [83]:
create_inserts(edu_plan, 'edu_plan', ['plan_id', 'program_id', 'learning_type', 'start_year'])

# ???~edu_plan_subject~

In [15]:
data = []
for i in range(50):
    row = []
    row.append(i+1) #id
    row.append(r.randint(1, 18))
    row.append(r.randint(1, 20))
    
    start = r.randint(1, 8)
    end = start + r.randint(1, 3)
    if end > 9:
        end = 9
    sem = [j for j in range(start, end, 1)]
    
    row.append(sem)
    
    data.append(row)

In [17]:
data

[[1, 13, 17, [5, 6, 7]],
 [2, 18, 18, [2, 3, 4]],
 [3, 18, 17, [5]],
 [4, 1, 5, [2]],
 [5, 10, 5, [3]],
 [6, 4, 4, [6]],
 [7, 17, 3, [2, 3]],
 [8, 5, 6, [7, 8]],
 [9, 5, 13, [4, 5, 6]],
 [10, 15, 4, [4, 5]],
 [11, 10, 8, [8]],
 [12, 11, 11, [1]],
 [13, 2, 20, [3]],
 [14, 15, 13, [7]],
 [15, 1, 13, [1]],
 [16, 5, 7, [7, 8]],
 [17, 14, 15, [2, 3, 4]],
 [18, 12, 7, [7, 8]],
 [19, 6, 18, [1]],
 [20, 13, 7, [8]],
 [21, 13, 17, [6, 7]],
 [22, 12, 15, [1]],
 [23, 2, 16, [1, 2, 3]],
 [24, 17, 17, [4, 5]],
 [25, 7, 10, [5, 6, 7]],
 [26, 11, 1, [6, 7]],
 [27, 5, 10, [4, 5, 6]],
 [28, 1, 12, [5, 6]],
 [29, 18, 3, [3, 4]],
 [30, 14, 12, [3]],
 [31, 6, 14, [8]],
 [32, 15, 14, [7, 8]],
 [33, 3, 3, [3]],
 [34, 8, 4, [8]],
 [35, 11, 19, [5, 6, 7]],
 [36, 14, 7, [8]],
 [37, 2, 11, [8]],
 [38, 1, 2, [4, 5]],
 [39, 18, 10, [6, 7]],
 [40, 6, 10, [5, 6, 7]],
 [41, 14, 20, [2]],
 [42, 15, 7, [4, 5, 6]],
 [43, 18, 6, [1, 2]],
 [44, 17, 5, [4, 5, 6]],
 [45, 5, 14, [4, 5, 6]],
 [46, 4, 9, [8]],
 [47, 10, 3, [8]],
 [48, 17, 11, [3, 4]],
 [49, 11, 8, [2]],
 [50, 17, 15, [8]]]

In [18]:
edu_plan_subject = pd.DataFrame.from_records(data, columns=['edu_plan_subject_id',
                                                   'subject_id',
                                                   'edu_plan_id',
                                                   'semester'])

In [19]:
create_inserts(edu_plan_subject, 'edu_plan_subject', ['subject_id',
                                                   'edu_plan_id',
                                                   'semester'])

# ~faculty~

In [43]:
faculty = pd.DataFrame.from_records(data=[[i+1,
                                           i+1,
                                           tostr('Факультет '+str(i+1))]
                                                  for i in range(6)],
                                    columns=['faculty_id',
                                            'building_id',
                                            'faculty_name']
)

In [44]:
create_inserts(faculty, 'faculty', ['building_id', 'faculty_name'])

# ~group~

In [45]:
letters = 'RMTKDV'

In [58]:
data = []


for i in range(20):
    row = [i+1, r.randint(2016, 2022)]
    semester = r.randint(1, 4)
    group_name = letters[r.randint(0, 5)]
    group_name += str(r.randint(3, 4)) +\
    str((semester+1) // 2) + str(r.randint(10, 20))
    row.append(tostr(group_name))
    row.append(semester)
    row.append(r.randint(1, 20))
    
    data.append(row)

In [59]:
group = pd.DataFrame.from_records(data, columns=['group_id',
                                                 'study_year',
                                                'group_name',
                                                'semester',
                                                'edu_plan_id'])

In [60]:
create_inserts(group, 'group', ['study_year',
                                                'group_name',
                                                'semester',
                                                'edu_plan_id'])

# ~scholarship_payments~

In [119]:
start1 = '-09-01'
end1 = '-01-31'

start2 = '-02-01'
end2 = '-06-30'

In [120]:
data = []
for i in range(100):
    row = [r.randint(1, 100),
        r.randint(1, 5), 
        i+1]
    year = r.randint(2016, 2020)
    if r.randint(0, 1):
        row.append(tostr(str(year) + start1))
        row.append(tostr(str(year + 1) + end1))
        
    else:
        row.append(tostr(str(year) + start2))
        row.append(tostr(str(year + 1) + end2))
    data.append(row)

In [121]:
scholarship_payments = pd.DataFrame.from_records(data, columns=['student_id',
                                                               'scholarship_id',
                                                               'paid_scholarship_id',
                                                               'start_date',
                                                               'end_date'])

In [122]:
create_inserts(scholarship_payments, 'scholarship_payments', ['student_id',
                                                              'scholarship_id',
                                                               
                                                               'start_date',
                                                               'end_date'])

# ~scholarship_type~

In [26]:
st = embrace(['Культурно-творческая',
     "Спортивная",
     "Общественная",
     "Научно-исследовательская",
     "Учебная"])

In [27]:
data = []

for i in range(5):
    data.append([i+1, st[i], r.randint(10, 18)*1000])

In [28]:
scholarship_type = pd.DataFrame.from_records(data, columns=['scholarship_id', 'scholarship_type', 'amount'])

In [29]:
create_inserts(scholarship_type, 'scholarship_type', ['scholarship_type', 'amount'])

# ~student_in_group~

In [103]:
start_date = '-09-01'
end_date = '-08-31'

In [116]:
data = []
status = embrace(['Обучается','Академ','Обучается'])

for i in range(60):
    year = r.randint(2018, 2021)
    start = tostr(str(year) + start_date)
    end = tostr(str(year+1) + end_date)
    
    row = [start, end, r.randint(1, 100), i+1,
           status[r.randint(0,1)], r.randint(5, 17)]
    data.append(row)

In [117]:
student_in_group = pd.DataFrame.from_records(data, columns = ['start_date',
                                                             'end_date',
                                                             'student_id',
                                                             'student_in_group_id',
                                                             'status',
                                                             'group_id'])

In [118]:
create_inserts(student_in_group, 'student_in_group',  ['start_date',
                                                             'end_date',
                                                             'student_id',
                                                             'student_in_group_id',
                                                             'status',
                                                             'group_id'])

# ~subject~

> subject
- subject_id (autofill)
- subject_name
- lecture_hours
- practice_hours
- lab_hours
- edu_practice_hours
- attestation_type ()

In [24]:
attestation_type = embrace(['Экзамен', "Зачет", "Дифференцированный зачет"])

In [25]:
subjects = embrace(["Русский язык",
                    "История", "Экономика",
                    "Экология",
                    "Философия",
                    "Общая физика",
                    "Психология",
                    "Социология",
                    "Астрономия",
                    "Дискретная математика",
                    "Теория вероятностей",
                    "Информатика",
                    "Компьютерные сети",
                    "Химия",
                    "Статистика",
                    "Оптика",
                    "Средства веб-программирования",
                    "Физкультура"
                    
                    
    
])

In [26]:
subject = pd.DataFrame.from_records(data=[(i + 1,
                                          subjects[i],
                                          str(r.randint(6, 16)),
                                          str(r.randint(6, 16)),
                                          str(r.randint(6, 16)),
                                          str(r.randint(6, 16)),
                                           attestation_type[r.randint(0, 2)]
                                          ) for i in range(len(subjects))],
                                    
                                   columns=['subject_id',
                                            'subject_name',
                                            'lecture_hours',
                                            'practice_hours',
                                            'lab_hours',
                                            'edu_practice_hours',
                                            'attestation_type'])

In [27]:
create_inserts(subject, 'subject', ['subject_name',
                                            'lecture_hours',
                                            'practice_hours',
                                            'lab_hours',
                                            'edu_practice_hours',
                                            'attestation_type'])

# ~teacher~

In [5]:
position = embrace(['Преподаватель',
                   "Старший преподаватель",
                   "Инженер",
                   "Лаборант",
                   "Стажер",
                   "Ментор"])

In [14]:
data = []
for i in range(37):
    row = []
    row.append(i+1) #id
    
    
    if r.randint(0, 1):
        surname = female_surname[r.randint(0, len(female_surname))-1]
        name = female_name[r.randint(0, len(female_name))-1]
        patronymic = female_patronymic[r.randint(0, len(female_patronymic))-1]
    else:
        surname = male_surname[r.randint(0, len(male_surname))-1]
        name = male_name[r.randint(0, len(male_name))-1]
        patronymic = male_patronymic[r.randint(0, len(male_patronymic))-1]
        
    row.append(surname)
    row.append(name)
    row.append(patronymic)
    row.append(position[r.randint(0, 5)])
    row.append(r.randint(1, 6))
    
    data.append(row)
    
teacher = pd.DataFrame.from_records(data, columns=['teacher_id',
                                                  'surname',
                                                  'name',
                                                  'patronymic',
                                                  'position',
                                                  'faculty_id'])
create_inserts(teacher, 'teacher', ['surname',
                                                  'name',
                                                  'patronymic',
                                                  'position',
                                                  'faculty_id'])